<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rooster week <%= weekNum %></title>
        <link rel="stylesheet" href="/css/stylesheet.css" />
    </head>
    <body>
        <h1 tabindex="0">Rooster week <%= weekNum %></h1>
        <section class="rooster">
            <div class="gif"></div>
            <ul>
                <li tabindex="0"><span>Maandag:</span> Starttraining om 8:30</li>
                <li tabindex="0"><span>Dinsdag:</span> Krachttraining om 9:00</li>
                <li tabindex="0"><span>Woensdag:</span> Baantraining om 10:30</li>
                <li tabindex="0"><span>Donderdag:</span> Rustdag</li>
                <li tabindex="0"><span>Vrijdag:</span> Krachttraining 9:30</li>
                <li tabindex="0"><span>Zaterdag:</span> Baantraining 10:00</li>
                <li tabindex="0"><span>Zondag:</span> Rust, uitkateren</li>
            </ul>
        </section>
        <a href="/">Terug naar kies rooster pagina</a>
        <script src="/js/rooster.js"></script>
    </body>
</html>
